{
  "printWidth": 120,
  "plugins": [ "prettier-plugin-jsdoc"],
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "avoid"
}
